<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <title>{{ stylist.getName }} at Solar Salon</title>
</head>
<body>
    <div class="container">
        <h1>{{ stylist.getName }}'s personal page at Solar Salon</h1>

        {% if clients is not empty %}
            <h4>{{ stylist.getName }}'s clientele</h4>
            {% for client in clients %}
                <ul>
                    <li><a href="/client/{{ client.getId }}/edit">{{ client.getName }}</a></li>
                </ul>
            {% endfor %}
            <form action="/stylists/{{ stylist.getId }}/delete_clients" method="post">
                <input name="_method" type="hidden" value="delete">
                <button type="submit" class="btn btn-warning btn-xs">Delete these clients</button>
            </form>
        {% else %}
            <p>
                This stylist has no clients at this time
            </p>
        {% endif %}

        <div class="form-group">
            <form action="/stylists/{{ stylist.getId }}" method="post">
                <label for="name">Enter a new client name</label>
                <input id="name" name="name" type="text" class="form-control">
            </form>
        </div>

        <form action="/stylists/{{ stylist.getId }}/edit" method="get">
            <button type="submit" class="btn btn-info">Edit this stylist</button>
        </form>

        <form action="/stylists/{{ stylist.getId }}" method="post">
            <input name="_method" type="hidden" value="delete">
            <button type="submit" class="btn btn-danger">Delete this stylist</button>
        </form>

        <p>
            <a href="/">Home</a>
        </p>

    </div>
</body>
</html>
